#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #001C03;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.subTitle {
  font-size: 30px;
}
.mainTitle {
  font-size: 45px !important;
} 

.skills-block {
  display: flex;
  justify-content: center; 
  padding: 20px;
  columns: 2;
  gap: 2rem;
}